<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <a href="/formulario/?id">Otra operación</a>
        <div class="jumbotron">
            <div>&nbsp;</div>
            <a> ⚠️ No se puede dividir entre 0</a>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <a>Vuelve e introduce el id de nuevo</a>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>